
/* navbar */


.bgP{
    background-color: #F5F5F5 ;
}

.bgS{
    background-color: #E8E8E8 ;
}


.home{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;

}
.navbarpara{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.74px;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
}

.active{
    width: 80px;
    height: 37px;
    border-radius: 12px;
    padding: 9px 18px 9px 18px;
    background-color: #4DB6AC24;
    text-align: center;
    cursor: pointer;
}
.hover:hover{
    border-radius: 12px;
    padding: 9px 18px 9px 18px;
    background-color: #4DB6AC24;
    transition: all .45s ease;
    cursor: pointer;
}

.navbutton1{
    border-radius: 12px;
    padding: 18px 36px 18px 36px;
    background-color: #0A2540;
    color: white;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
}

.navbutton2{
    border-radius: 12px;
    padding: 18px 36px 18px 36px;
    background-color: #4DB6AC;
    color: #333333;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
}

/* hero-section here */

.hereContainer{
    width: 739px;
    height: 388px;
    display: flex;
    flex-direction: column;

    gap: 16px;
    justify-self: center;
  align-items: center;

}


.heroH1{
    font-size: 90px;
    font-weight: 700;
    line-height:106px ;
    letter-spacing: 0px;
    align-self: center;
    color: #0A2540;
}

.heroP{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    align-items: center;
    color: #333333;
}

.herobtn1{
    border-radius: 12px;
    padding: 18px 36px 18px 36px ;
    background-color: #0A2540;
    color: white;
    font-size: 16px;
   
}

.herobtn2{
    border-radius: 12px;
    border: solid 1px #0A2540 ;
    padding: 18px 36px 18px 36px ;
    color: #0A2540;
    font-weight: 600;
    line-height: 18.75px;
    align-items: center;
}

.btnC{
    display: flex;
    flex-direction: row;
    gap: 2px;
    
}

/* bar */

.barh3{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    align-items: center;
    color: #333333;
}

.barh5{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    color: #333333;
}

/* Search bar */

.search{
    
    width: 1182px;
    height: 225px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 48px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: #0A25402B ;
    margin-top: -5%;
    margin-left: 8% ;

}

.sh3{
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    color: #0A2540;
}

.select{
    width: 277px;
    height: 57px;
    border-radius: 12px;
    border: solid #333333B2 1px;
    padding: 16px 17px 17px 17px ;
    color: #333333B2;
    size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.2px;
}
.searchbtn{
    width: 151px;
    height: 57px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
     padding: 16px 17px 17px 17px ;
    border-radius: 12px;
    background-color: #0A2540;
    color: #FFFFFF;
    letter-spacing: 0px;
}

/* text-header */

.textH1{
   
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0px;
    color: #0A2540;
}
.textpa{
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #333333;
}



/* agents */
.content{
    width: 915px;
    height: 566px;
    border-radius: 12px;
    border: 20px solid #FFFFFF;
    padding: 24px;
    display: grid;
    justify-self: center;
    justify-content: center;
    gap: 16px;
   
}

.tb{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 271px;
    height: 232px;
    padding: 24px ;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: #00000033;
}

.Agnth5{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    letter-spacing: 0px;
    color: #0A2540;
}

.Agntp{
    font-size: 16px;
    font-family: 400;
    line-height: 18.75px;
    letter-spacing: 0.2px;
    color: #333333;
}

/* slide */
.slideMinContainer{

    width: 1160px;
    height: 476px;
    display: flex;
    justify-self: center;
    align-content: center;
    margin-right: 2.5%;
   
    
}
.slideMin{
    width: 360px;
    height: 398px;
    border-radius: 12px;
    border: 1px solid #0000000D ;
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: #00000033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-right: 2.5%;
}

.slideImg{
    width: 328px;
    height: 265px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #0000000D;
}

.prices{
    display: flex;
    flex-direction: row;
}

.slideh5{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    letter-spacing: 0px;
    color: #0A2540;

}
span{
    font-size: 14px;
    font-weight: 400;
    
}

.slipara{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    letter-spacing: 0px;
    color: #000000;
}

.laspara{
    width: 118px;
    height: 22px;
    font-size: 9px;
    font-weight: 400;
    line-height: 10.55px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #333333;
}

.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    background-color: 50%;
}

/* panelSlide */
.pslide{
    margin-left: 4%;
    width: 1012px;
    height: 90px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius:20px ;
    padding: 12px 20px 12px 20px ;
    background-color:#FFFFFF ;
}

.pslidein{
    display: flex;
    width: 248px;
    height: 66px;
    border-radius: 12px;
    padding: 8px 28px 8px 8px ;
    background-color:#0A2540 ;
    gap: 16px;
    color: white;
    text-align: center;
}

.pslideinAll{
    display: flex;
    width: 188px;
    height: 66px;
    border-radius: 12px;
    padding: 8px 28px 8px 8px ;
    background-color:#F2F2F2;
    gap: 16px;
    color: #333333CC;
    text-align: center;
}
.ptext{
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
}

/* carosel */

.carBg{
    width: 1240px;
    height: 1169px;
    border-radius: 16px;
    border: 20px solid #FFFFFF;
    padding: 40px 40px 60px 40px;
    background-color: #F2F2F2;
    display: grid;
    justify-self: center;
}
/* .card1 */
.card1{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: 973px;
    height: 423px;
    border-radius: 12px;
    border: 10px solid #FFFFFF;
    padding: 40px;
    background-color:#F2F2F2 ;
    gap: 40px;
    justify-self: center;
   

}

.cardIn{
    width: 271px;
    height: 350px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #FFFFFF;
    box-shadow:#00000033  ;
    margin-top: -2%;
}

.cardh4{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #0A2540;
    text-align: center;
}

.cardP{
    width: 241px;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #333333;

}

.cardbtn{
  
    border-radius: 12px;
    border: 1px solid #0A2540 ;
    padding: 12px 36px 12px 36px ;
    color: #0A2540;

}


/* reviews */
.recontainer{
    width: 1267px;
    height: 1104px;
    display: grid;
    justify-self: center;
    gap: 12px;
}

.reMain{
    width: 1267px;
    height: 546px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.reInternalContainer{
    width: 413px;
    height: 546px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:#FFFFFF ;
    border-radius: 12px;
}

.reSmallCol{
    width:373px ;
    height: 267px;
    display: flex;
    flex-direction: column;
    gap:20px ;
    padding: 20px;
    background-color:#FFFFFF ;
    border-radius: 12px;
}

.reimg{
    width: 67px;
    height: 67px;
    border-radius: 41px;
    color:#FFFFFF ;
}

.rename{
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    letter-spacing: 0%;
    color: #000000;

}

.resubName{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    
    color: #8C8C8C;
}

.repara{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #707070;
}

/* caroselAgent */

.CaroselAmainC{
    width: 953px;
    height: 540px;
    border-radius: 12px;
    padding: 12px 40px 12px 40px ;
    background-color:#F2F2F2 ;
    display: flex;
    flex-direction: column;
    gap:12px ;
    justify-self: center;

}

.slideMinContainerAgent{
    width: 873px;
    height: 476px;
    display: flex;
    justify-self: center;
    align-content: center;
    margin-right: 2.5%;


}

.cAgentBar{
    width: 781px;
    height: 65px;
    border-radius: 20px;
    padding: 9px 16px 9px 16px;
    display: flex;
    flex-direction: row;
    gap: 56px;
    background-color: #F2F2F2;

}

.cAgentBar1{
    width: 137px;
    height: 47px;
    border-radius: 12px;
    padding: 14px 28px 14px 28px ;
    background-color: #4DB6AC;
    color:#FFFFFF ;
    box-shadow:#00000029 ;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    text-align: center;
}

.cAgentBarall{
    margin-top: 2%;
   
    color:#000000B2;
  
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    text-align: center;
}

.cAgentmain{
    width: 275px;
    height: 438px;
    border-radius: 16px;
    padding: 16px 20px 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #FFFFFF;
    box-shadow:#00000033 ;

}

.cAgentmini{
    width:235px ;
    height: 60px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cAgentBarimg{
    width: 235px;
    height: 36px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0A2540;
}

.cAgentimg{
    width: 80px;
    height: 80px;
    border-radius: 41px;
   
    padding: 10px;
    color:#FFFFFF ;
    box-shadow: #00000012;
    margin-top: -15%;
    background-position: cover;

}

.cAgentname1{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.cAgentcontent{
    width: 235px;
    height: 153px;
    border-radius: 16px;
    padding: 10px 8px 10px 8px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.cAgentcontentInner{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cAgentpara{
    width: 94px;
    height: 31px;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 0%;
    text-align: center;
    color:#FFFFFF ;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    box-shadow: #00000029;
}

.cAgentperMain{
    width: 235px;
    height: 72px;
    border-radius: 12px;
    padding: 10px;
    background-color:#F2F2F2 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cAgentperMin{
    width: 60px;
    height: 52px;
    border-radius: 8px;
    padding: 10px 11px 10px 11px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color:#E6E6E6 ;
    box-shadow: #0000001F;
    align-items: center;
}

.CagentAllpara{
    font-size: 15px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 0%;
    color: #000000CC;
    text-align: center;
}

.CagentSmallpara{
    font-size: 12px;
    font-weight: 600;
    line-height: 14.06px;
    letter-spacing: 0%;
    color: #00000099;
   
}

.Cagentbtn{
    width: 235px;
    height: 38px;
    border-radius: 8px;
    padding: 12px 24px 12px 24px ;
    background-color: #4DB6AC;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 0%;
}
.Cagentbtn2{
    width: 235px;
    height: 38px;
    border-radius: 8px;
    padding: 12px 24px 12px 24px ;
    background-color: #0A2540;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 0%;
}

/* AgentCard */
.AgentcardMainHU{
    width: 444px;
    height: 281px;
    border-radius: 12px;
    padding: 12px 16px 24px 16px;
    background-color: #F2F2F2 ;
   
}

.AgentcardMainC{
    width: 412px;
    height: 210px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    /* border-radius: 12px;
    padding: 12px 16px 24px 16px;
    background-color: #F2F2F2 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
     gap: 12px;
      */
}

.Agentcardh4{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    letter-spacing: 0%;
    color: #000000;
    text-align: center;
}

.AgentcardInnerC{
    margin-top: 5%;
    width: 200px;
    height: 99px;
    border-radius: 12px;
    border-bottom: 1px solid ;
    padding: 12px;
    background-color:#FFFFFF ;
    box-shadow: #00000033;
    display: flex;
    flex-direction: row;
    gap:10px ;
}

.Agentcardpara1{
    font-size: 14px ;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0%;
    color: #5C5C5C;
}

.Agentcardpara2{
    font-size: 32px ;
    font-weight: 700;
    line-height: 37.5px;
    letter-spacing: 0%;
    color: #000000CC;
}

.AgentcardparaDiv{
    width: 114px;
    height: 11px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.AgentcardparaDivText{
    font-size: 6px;
    font-weight: 400;
    line-height: 7.03px;
    letter-spacing: 0%;
    color: #5C5C5C;
}

.AgentcardparaDivText2{
    font-size: 6px;
    font-weight: 400;
    line-height: 7.03px;
    letter-spacing: 0%;
    color: #05DA5A;
}

.AgentcardparaDivInner{
    width: 37px;
    height: 11px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: #BBFFD666;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.AgentcardIconsBA{
    width: 38px;
    height: 38px;
    border-radius: 52px;
    padding: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.Agentca2main{
    width: 395px;
    height: 281px;
    border-radius: 12px;
    padding: 12px 16px 24px 16px;
    background-color: #F2F2F2;
    align-items: center;
}

.Agentca2min{
    width: 363px;
    height: 210px;
    border-radius: 12px;
    padding: 10px 12px 10px 12px ;
    display: flex;
    flex-direction: row;
    gap: 18px;
    background-color: #FFFFFF;
    box-shadow:#00000033 ;
    margin-top: 1%;
}

.Agentca2img1{
    width: 80px;
    height: 80px;
    border-radius: 73px;
    
    padding: 10px;
    box-shadow: #00000012;
    background-color: #FFFFFF;
}
 
.Agentca2img2{
    width: 60px;
    height: 60px;
}

.Agentca2content1{
    width: 80px;
    height: 179px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Agentca2para1{
    font-size: 12px;
    font-weight: 600;
    line-height: 14.06px;
    letter-spacing: 0%;
    color: #0029FFA3;
}

.Agentca2para2{
    font-size: 8px;
    font-weight: 600;
    line-height: 9.38px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}


.Agentca2cont{
    width: 241px;
    height: 175px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.Agentca2contName{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #000000;
}

.Agentca2contp1{
    font-size: 9px;
    font-weight: 400;
    line-height: 10.55px;
    letter-spacing: 0%;
    color:#000000B2;
}

.Agentca2contspan{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.55px;
    letter-spacing: 0%;
    color:#5C5C5C;
}

.Agentca2contsp2{
  font-size: 9px;
  font-weight: 500;
  line-height: 10.89px;
  initial-letter: 0%;
  text-decoration: underline ;
  color: #000000;
 
}

.Agentca2contsbgI{
    width: 34px;
    height: 34px;
    border-radius: 8px;
    padding: 8px;
    background-color: #4DB6AC;
    color: #FFFFFF;
    align-items: center;
}

.Agentca2contsbtn{
    width: 218px;
    height: 35px;
    border-radius: 8px;
    padding: 8px 4px 8px 4px;
    background-color:#0A2540 ;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.Agentca2contsbtntxt{
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

/* mainAgent */
.mainagaentconta{
    width: 1001px;
    height: 966px;
    border-radius: 24px;
    padding: 24px;
    gap: 20px;
   background-color: #FFFFFF;
   box-shadow: bottom #00000040;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}

/* LandCarousel */
.Landslideh5{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    color:#000000 ;

}

.Landlaspara{
    width: 178px;
    height: 22px;
    font-size: 9px;
    font-weight: 400;
    line-height: 10.55px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #333333;
}

/* LANDCARD */

.LandcardIn{
    width: 271px;
    height: 365px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow:#00000033  ;
    margin-top: -2%;
}

.LandcardP{
    margin-top: -3%;
    width: 241px;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #333333;

}

/* BarMain */
.BarmainContainer{
    width: 1267px ;
    height: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    background-color:#0A2540 ;
    justify-self: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 5%;
}

.BarminContainer{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-self: center;
    align-items: center;
    color: #FFFFFF;
}

/* .BarInnerC{
  
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-self: center;
    align-items: center;
} */

.BarinnerCh3{
    font-size: 48px;
    font-weight: 600;
    line-height: 56.25px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.BarinnerCpara{
    width: 516px;
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.BarinnerChbtn{
    width: 193px;
    height: 64px;
    border-radius: 12px;
    border: 2px solid #4DB6AC ;
    padding: 18px 36px 18px 36px ;
    background-color: #4DB6AC;
    box-shadow: #4DB6AC80 ;
    text-align: center;
}

/* footer */

.footermainC{
    margin-top: 5%;
    /* width: 1140px; */
    /* height: 911px; */
    background-color:#0A2540 ;
}

.footerminC{
    width: 1260px;
    height: 656px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-self: center;
    justify-content: start;
    padding-top: 2%;

}


.footermainh3{
    font-size: 32px;
    font-weight: 800;
    line-height: 43.58px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.footermainh5{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.footermainpara{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footermainspan{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0px;
    color: #E8E8E8;
}

.footerbtn{
    width: 251px;
    height: 55px;
    border-radius: 12px;
    border: 1px solid #FFFFFF99 ;
    padding: 18px 11px 18px 11px ;
    color: #BEBEBE;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    letter-spacing: 0px;
    text-align: start;

}

.footerbtn1{
    width: 144px;
    height: 55px;
    border-radius: 12px;
    background-color: #4DB6AC;
    padding: 18px 11px 18px 11px ;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    letter-spacing: 0px;
    text-align: center;

}


